/*//////////////////////////////////////////////////////////////////////////////////////////////
*
*Custom CSS Styling
*Author: SwahiliPot Developers
*website : swahilipothub.co.ke
*
////////////////////////////////////////////////////////////////////////////////////////////////*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  transition: all ease 1s;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Slabo 27px', serif;
}

.glyphicon{
  /*margin-left: 15px;
  margin-right: 15px;*/
  top: 0px;
}

input[type="checkbox"]{
  width: 17px; /*Desired width*/
  height: 17px; /*Desired height*/
}


/*//////////////////////////////////////////////////////////////////////////////////////////////
*
Log In Styling
*
////////////////////////////////////////////////////////////////////////////////////////////////*/

.profile-img{
  width: 96px;
  height: 96px;
  margin: 0 auto 30px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}
.password-header{
  text-align: center;
}

.btn-login{
  margin-top: 50px;
}